*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.whole-app-container {
  padding: 12px;
  /* border: 2px solid red; */
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;
}


